html, *, a {
    border: none;
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    text-decoration: none;
    user-select: none;
}

/*************************/
/* Initial layout styles */
/*************************/

.layout-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

header {
    font-weight: bold;
}

.choices-buttons-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px;
}

footer {
    position: absolute;
    bottom: 5px;
}

/*********************/
/* Game board styles */
/*********************/

.game-board {
    display: grid;
    grid-auto-rows: 1fr;
    margin: 20px 0;
}

.game-board .row {
    display: flex;
} 

.game-board .cell {
    border: 1px solid gray;
    height: 20px;
    width: 20px
}
