html, *, a {
    border: none;
    color: inherit;
    height: 0;
    margin: 0;
    text-decoration: none;
    width: 0;
    user-select: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    font-weight: bold;
    margin-bottom: auto;
}

footer {
    margin-top: auto;
}